# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [57]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import json
import os

# Import API key
from api_keys import g_key

In [58]:
print(g_key)

AIzaSyDnoOrFLw9hpremTsOZQaPSWzNZS74eOyQ

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [59]:
weather_data = pd.read_csv('..\weatherPy\Output\city_data.csv')
weather_data.head()

,City ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Jamestown,90,US,1619755274,100,42.0970,-79.2353,46.004,5.66
1,1,Āsosa,100,ET,1619755431,78,10.0667,34.5333,63.266,1.79
2,3,Hobart,20,AU,1619755431,55,-42.8794,147.3294,68.000,2.57
3,4,Saint George,1,US,1619755432,17,37.1041,-113.5841,75.992,1.40
4,5,Sherbakul',0,RU,1619755432,35,54.6316,72.3963,51.800,5.00

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [60]:
locations = weather_data[['Lat','Lng']]
humidity = weather_data['Humidity']

In [61]:
gmaps.configure(api_key=g_key)
#fig = gmaps.figure(map_type="ROADMAP")
heat_layer = gmaps.heatmap_layer(locations, weights=humidity)
figure_layout = {'width': '800px','height': '500px','border': '1px solid black','padding': '1px','margin': '0 auto 0 auto'}
fig = gmaps.figure(layout=figure_layout)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='500px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [62]:
#A max temperature lower than 80 degrees but higher than 70.

#Wind speed less than 10 mph.

#Zero cloudiness.

#Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

In [63]:
weather_data.count()

City ID       562
City          562
Cloudiness    562
Country       556
Date          562
Humidity      562
Lat           562
Lng           562
Max Temp      562
Wind Speed    562
dtype: int64

In [64]:
weather_data_filter_df = weather_data.loc[(weather_data['Humidity']<30)&(weather_data['Wind Speed']<6)&(weather_data['Cloudiness']<5)&(weather_data['Max Temp']>60)&(weather_data['Max Temp']<=75),:]
weather_data_filter_df

,City ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
18,22,Karakol,0,KG,1619755436,26,42.4907,78.3936,64.238,2.43
108,116,Riyadh,0,SA,1619755245,23,24.6877,46.7219,73.400,2.06
300,324,Bainbridge Island,1,US,1619755517,25,47.6262,-122.5212,60.800,3.60
460,497,West Wendover,1,US,1619755557,29,40.7391,-114.0733,64.400,3.60
476,515,Zhangye,0,CN,1619755567,13,38.9342,100.4517,73.742,2.63
479,518,Redmond,1,US,1619755317,23,47.6740,-122.1215,64.400,3.60

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [65]:
hotel_df=pd.DataFrame(weather_data_filter_df)
hotel_df['Hotel Name'] =""
hotel_df.head()

,City ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
18,22,Karakol,0,KG,1619755436,26,42.4907,78.3936,64.238,2.43,
108,116,Riyadh,0,SA,1619755245,23,24.6877,46.7219,73.400,2.06,
300,324,Bainbridge Island,1,US,1619755517,25,47.6262,-122.5212,60.800,3.60,
460,497,West Wendover,1,US,1619755557,29,40.7391,-114.0733,64.400,3.60,
476,515,Zhangye,0,CN,1619755567,13,38.9342,100.4517,73.742,2.63,

In [66]:
#Rank by doesn't work yet - need to make sure it is cloest hotel, issues to assign hotel name to the dataframe
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
target_search = "hotel"
target_type = "hotel"
target_radius = 5000
params = {
        "keyword": target_search,
        "radius":target_radius,
        #"rankby": "distance",
        "type": target_type,
        "key": g_key
    }
for index, row in hotel_df.iterrows():
    target_coordinates = f"{row['Lat']},{row['Lng']}"
    params['location']=target_coordinates

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {target_coordinates}.")
    response = requests.get(base_url, params=params).json()
    # extract results
    results = response['results'][0]['name']

    try:
        print(f"Closest hotel near {target_coordinates} is {results}.")
        hotel_df.loc[index, 'Hotel Name'] = response['results'][0]['name']        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 18: 42.4907,78.3936.
Closest hotel near 42.4907,78.3936 is Hotel Amir.
------------
Retrieving Results for Index 108: 24.6877,46.7219.
Closest hotel near 24.6877,46.7219 is Four Seasons Hotel Riyadh At Kingdom Center.
------------
Retrieving Results for Index 300: 47.6262,-122.5212.
Closest hotel near 47.6262,-122.5212 is The Eagle Harbor Inn.
------------
Retrieving Results for Index 460: 40.7391,-114.0733.
Closest hotel near 40.7391,-114.0733 is Best Western Plus Wendover Inn.
------------
Retrieving Results for Index 476: 38.9342,100.4517.
Closest hotel near 38.9342,100.4517 is Huachen International Hotel Zhangye.
------------
Retrieving Results for Index 479: 47.674,-122.1215.
Closest hotel near 47.674,-122.1215 is Archer Hotel Redmond.
------------

,City ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
18,22,Karakol,0,KG,1619755436,26,42.4907,78.3936,64.238,2.43,Hotel Amir
108,116,Riyadh,0,SA,1619755245,23,24.6877,46.7219,73.400,2.06,Four Seasons Hotel Riyadh At Kingdom Center
300,324,Bainbridge Island,1,US,1619755517,25,47.6262,-122.5212,60.800,3.60,The Eagle Harbor Inn
460,497,West Wendover,1,US,1619755557,29,40.7391,-114.0733,64.400,3.60,Best Western Plus Wendover Inn
476,515,Zhangye,0,CN,1619755567,13,38.9342,100.4517,73.742,2.63,Huachen International Hotel Zhangye

In [67]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [68]:
# Add marker layer ontop of heat map
coordinates = hotel_df[['Lat','Lng']]
markers = gmaps.marker_layer(coordinates)
# Add the layer to the map
fig.add_layer(markers)
# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='500px', margin='0 auto 0 auto', padding='1px', wi…